<header>
  <nav>
    <ul>
      <li>About</li>
      <li>Works</li>
      <li>Contact</li>
    </ul></nav>
</header>
<main>
  <h1>Martina Peraic</h1>
  <h3>Web Developer</h3>
  <button>View my work</button>
</main>
<footer>
  <a href="#" class="fa fa-facebook"></a>
</footer>